<div class="container">
    <div class="content d-flex flex-column flex-md-row justify-content-between align-items-center py-5 mb-3">

        <div class="footer-first text-center text-md-start">
        <div class="d-flex align-items-center mb-3 justify-content-center justify-content-md-start">
            <img src="/assets/logo.png" alt="" width="50px">
            <h1 class="text-white mb-0 ms-2 fw-bold">Perfuma</h1>
        </div>
        <p class="text-white-50 ms-3 mb-3">Perfuma brings you elegant, long-lasting fragrances crafted to reflect your unique personality and style.</p>
        </div>

        <div class="text-center text-md-start mb-3">
            <h3>Navigation</h3>
            <p>Home</p>
            <p>Pages</p>
            <p>About Us</p>
            <p>Services</p>
        </div>

        <div class="text-center text-md-start mb-3">
            <h3>Quick Link</h3>
            <p>Contact Us</p>
            <p>Booking</p>
            <p>Pages</p>
            <p>FAQs</p>
        </div>

        <div class="text-center text-md-start mb-3">
            <h3>Services</h3>
            <p>Home</p>
            <p>Contact</p>
            <p>Blog</p>
            <p>404</p>
        </div>

    </div>


    <div class="footer-second d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div class="d-flex gap-2 mb-3 mb-lg-0">
            <i class="fa-solid fa-location-dot me-2"></i>
            <h3>Egypt, Cairo</h3>
        </div>

        <div class="d-flex gap-2 mb-3 mb-lg-0">
            <i class="fa-solid fa-phone me-2"></i>
            <h3>01029637696</h3>
        </div>

        <div class="d-flex gap-2 mb-3 mb-lg-0">
            <i class="fa-solid fa-square-envelope me-2"></i>
            <a href="mailto:marwaas3d@gmail.com" class="text-decoration-none pointer-event text-white">marwaas3d&#64;gmail.com</a>
        </div>

    </div>

    <hr>

    <div class="d-flex justify-content-center align-items-center">
        <p class="text-white-50">&#169; 2025 All Rights Reserved</p>
    </div>
</div>



