<main class="py-5">
    <div class="heading text-center pt-4">
        <h1 class="mb-0">Our Services</h1>
        <h4 class="fw-bold">Perks & Benefit</h4>
    </div>

    <div class="container mt-5 mb-5">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">

            <div class="content text-center">
                <div class="w-100 d-flex justify-content-center">
                    <div class="mb-3 first">
                        <i class="fa-solid fa-handshake fa-2x"></i>
                    </div>
                </div>
                <h4>Quick Payment</h4>
                <p>Secure and swift checkout process to save your time and ensure a smooth shopping experience.</p>
            </div>

            <div class="content text-center">
                <div class="w-100 d-flex justify-content-center">
                    <div class="mb-3 second">
                        <i class="fa-solid fa-hand-holding-dollar fa-2x"></i>
                    </div>
                </div>

                <h4>Affordable Prices</h4>
                <p>High-quality perfumes at prices that suit every budget — luxury made accessible.</p>
            </div>
            
            <div class="content text-center">
                <div class="w-100 d-flex justify-content-center">
                    <div class="mb-3 third">
                        <i class="fa-solid fa-percent fa-2x"></i>
                    </div>
                </div>

                <h4>Big Deals</h4>
                <p>Take advantage of our exclusive offers and discounts — because you deserve more for less.</p>
            </div>
            

        </div>
    </div>


    <div class="sale">
        <div class="container">
            <div class="d-flex flex-column gap-5 flex-md-row justify-content-between align-content-center">

                <div class="saleOne d-flex flex-column justify-content-center align-items-end p-5">
                    <div class="text-center">
                        <h5 class="fw-bold">Perfume</h5>
                        <h1>SALE</h1>
                        <h3 class="fw-bold">30%</h3>
                    </div>
                </div>

                <div class="saleTwo d-flex flex-column justify-content-center align-items-end p-5">
                    <div class="text-center">
                        <h5 class="fw-bold">Perfume</h5>
                        <h1>SALE</h1>
                        <h3 class="fw-bold">15%</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>