:host{
    background-color: #0b3a3e;
    display: block;
    min-height: 100vh;
    padding-bottom: 100px;
}


.card{
    min-height: 500px;
    background-color: #f6d9b0;
    box-shadow: -1px -4px 11px 0px #d8c299;
    img{
        height: 50%;
        object-fit: cover;
    }
    h5{
        color: #0b3a3e;
    }
    .card-body{
        .card-text{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
        max-height: 4.5em; 
        cursor: pointer;
        &:hover{
        overflow: visible;
        text-overflow: clip;
        display: block;
        max-height: none;
        white-space: normal;
        }
        }
        p{
            font-size: 14px;
        }
    }
}

.btn-outline-success{
    outline: #0b3a3e !important;
    color: #0b3a3e !important;
    margin-bottom: 30px;
    &:hover{
        background-color: #0b3a3e;
        color: white !important;
    }
}

hr{
    height: 1px;
    background-color: #0b3a3e !important;
}


.message{
    background-color: #d8c299;
    color: #0b3a3e;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
}

.message.show{
    opacity: 1;
}