<div class="container position-relative">
    <div class="row">

        <div class="col-md-4  col-lg-3 row-gap-3 mb-2 p-2" *ngFor="let item of Data">
            <div class="card">
                <img [src]=item.coverImg [alt]="item.name" class="img-fluid w-100 card-img-top">

                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="card-title fw-bold mb-0">{{item.name}}</h6>
                        <p class="mb-0">{{item.price}} EGP</p>
                    </div>
                    <hr>
                    <p class="card-text text-dark-emphasis">{{item.description}}</p>
                    <button (click)="showMsg()" (click)="addToCart(item)" class="btn btn-outline-success">Add To Card</button>
                </div>
            </div>
        </div>

    </div>


    <div class="position-fixed p-3 rounded message" [class.show]="messageVisible">Product added successfully!</div>
</div>