@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
*{
     font-family: "Merriweather", serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 58px;
}


::-webkit-scrollbar{
    width: 11px;
}

::-webkit-scrollbar-thumb{
    background-color: #f6d9b0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

::selection{
    background-color: #f6d9b0;
    color: black;
}