<app-navbar></app-navbar>
<!-------------------------------------HOME------------------------------------>
<section id="home">
    <main>
        <div class="container h-100">
            <div class="pt-5 heading p-4">
                <h1 class="fw-semibold mt-4 mb-4 text-center text-md-start">Discover the Fragrance of Elegance</h1>
                <p class="fw-light mb-4 text-center text-md-start">
                    Discover the beauty of fragrance with our collection of premium perfumes. 
                    Immerse yourself in the aroma of luxury and elevate your style.
                </p>

                <div class="w-100  text-center text-md-start">
                    <a href="#shopping" class="btn btn-dark rounded-5 px-4 buy">Buy Now</a>
                </div>
            </div>
        </div>
    </main>
</section>
<!-------------------------------------ABOUT Us------------------------------------>
<section id="aboutUs">
    <app-about-us></app-about-us>
</section>
<!-------------------------------------Shopping------------------------------------>
<section id="shopping">
    <app-shopping></app-shopping>
</section>
<!-------------------------------------our services------------------------------------>
<section id="ourServices">
    <app-our-services></app-our-services>
</section>
<!-------------------------------------footer------------------------------------>



<app-footer></app-footer>